<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head></head>
	<title>User Information and Form</title>
	
	<!--JQUERY-->
	<script></script>
		src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" >
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet" rel="stylesheet"></link rel="stylesheet">
		href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
	<script></script>
		src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" >
	<script></script> 
		src = "https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin = "Anonymous" >
	<script></script> 
		src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity = "sha384-ApNbgh9B + Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin = "Anonymous" >
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet" rel="stylesheet"></link rel="stylesheet">
		href = "https://use.fontawesome.com/releases/v5.0.8/css/solid.css" >
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css" rel="stylesheet" type="text/css" href="static/css/user-form.css"></link rel="stylesheet" type="text/css" href="static/css/user-form.css">
		Th: href = "@ {/css/user-form.css}" >


<body></body>
	<!-- Mucho mucho codigo aqui-->

